/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: "Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.error-msg{
     color: #e54343;
}